asttokens==2.4.1
attrs==23.2.0
automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.3
cssselect==1.2.0
decorator==5.1.1
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.13.1
greenlet==3.0.3
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
ipython==8.21.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.19.1
jmespath==1.0.1
lxml==5.1.0
matplotlib-inline==0.1.6
openpyxl==3.1.2
packaging==23.2
parsel==1.8.1
parso==0.8.3
pexpect==4.9.0
playwright==1.41.2
prompt-toolkit==3.0.43
protego==0.3.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.1
pycparser==2.21
pydispatcher==2.0.7
pyee==11.0.1
pygments==2.17.2
pyopenssl==24.0.0
pypydispatcher==2.1.2
queuelib==1.6.2
requests-file==2.0.0
requests==2.31.0
scrapy-playwright==0.0.34
scrapy-xlsx==0.1.1
scrapy==2.11.1
service-identity==24.1.0
setuptools==69.1.0
six==1.16.0
sqlalchemy==2.0.27
stack-data==0.6.3
tldextract==5.1.1
traitlets==5.14.1
twisted-iocpsupport==1.0.4
twisted==23.10.0
typing-extensions==4.9.0
urllib3==2.2.1
w3lib==2.1.2
wcwidth==0.2.13
zope-interface==6.2
